---
layout: default
title: About
---

<h1>
  About
</h1>

I am proud to be a <mark>self-taught software engineer</mark> from a very young
age, this allows me to write high
quality code rapidly;
as a professional developer I have use a variety of technologies including
<mark>Javascript, PHP, Ruby, Python, Bash,
  Perl, and
  have a working familiarity with a handful of other languages.</mark>

<h2>
  Work
</h2>

<p>
  I have a record of <mark>strong technical leadership</mark> and original,
  creative solutions for complex software
  designs and implementations.
  I am consistent to be able to preserve the <mark>global vision</mark> of a
  project alonside the attention necessary to
  ensure successful results.
  I've been part of the <mark>founding team</mark> in multiple companies.
</p>

<p>
  I have been fortunate to collaborate with the following companies throughout
  my career.
</p>

<ul class="logos">
  {% for image in site.static_files %}
  {% if image.path contains 'images/logos' %}
  <li>
    <img src="{{ site.baseurl }}{{ image.path }}"
      alt="{{ image.name | remove: image.extname }}"
      width="{{ image | image_size: 'w' | times: 0.8 | ceil }}"
      height="{{ image | image_size: 'h' | times: 0.8 | ceil }}"
      loading="lazy" />
  </li>
  {% endif %}
  {% endfor %}
</ul>

<p>
  If you want to see in more detail where I have worked and what my experience
  is,
  you can <a href="https://cv.kinduff.com" target="blank">download my
    resume</a>.
</p>

<h2>
  Places where I have left a mark
</h2>

{% include map.html %}

<h2>
  Contact
</h2>

<p>
  I would love to talk and connect with you; you can find me at
  <a href="https://matrix.to/#/@kinduff:lasagna.pizza"
    target="blank">@kinduff:lasagna.pizza</a>, or if you prefer
  email:
  <a
    href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#107;&#105;&#110;&#100;&#117;&#102;&#102;&#64;&#112;&#114;&#111;&#116;&#111;&#110;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#107;&#105;&#110;&#100;&#117;&#102;&#102;&#64;&#112;&#114;&#111;&#116;&#111;&#110;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>.
</p>
