---
layout: default
title: Blog
---

<h1>
  Blog
  <a href="/feed.xml" target="blank" title="RSS feed">
    <img src="/assets/images/rss.png" class="RSS logo" />
  </a>
</h1>

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
    <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
    {% assign date = currentdate %}
  {% endif %}
  <div class="blog-entry">
    <p>
      {% assign m_i = post.date | date: "%-m" | minus: 1 %}
      {% assign month = site.data.spanish.months[m_i] %}
      <small>
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%d" }} {{ month }}
        </time>
      </small>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </p>
  </div>
{% endfor %}
