---
layout: default
title: Blog
---

<h1>
  Blog
  <a href="/feed.xml" target="blank" title="RSS feed">
    {% include rss_icon.html %}
  </a>
</h1>

<p>
  I like to write about different topics, many related to technology.
  Some are related to programming languages, a bit to philosophy and also to everyday life.
</p>

<p>
  Most of the entries are on this blog, but if they are marked with the symbol
  <code class="language-plaintext highlighter-rouge">⧉</code> it means they are external links to sites where I used to write.
</p>

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
    {% assign date = currentdate %}
  {% endif %}
  <div class="blog-entry">
    <p>
      <small>
        <time datetime="{{ post.date | date_to_xmlschema }}" title="{{ post.date | date: "%a %b %d %Y" }}">
          {{ post.date | date: "%b" }}
        </time>
      </small>
      <span>
        {% if post.external %}<a href="{{ post.external_url }}">{{ post.title }}</a>{% else %}<a href="{{ post.url }}">{{ post.title }}</a>{% endif %}{% if post.description %}: {{ post.description }}{% endif %}
      </span>
    </p>
  </div>
{% endfor %}
