---
title: Casa
layout: default
---
<div class="home h-card">

  <h1 id="hello">Hola 👋</h1>

  <div class="avatar">
    <img src="/assets/images/hotlink-ok/avatar.jpg" alt="Una representación de Alejandro dibujada por una IA" class="u-photo u-logo">
  </div>

  <p>
    Soy <a href="https://kinduff.com" class="p-name u-url p-given-name" rel="me">Alejandro AR</a> (también <mark class="p-nickname">kinduff</mark>).
  </p>

  <p class="p-note">
    Me gusta mucho escribir letras y código, jugar, leer y ver películas y series.
    Me encanta descubrir nuevas tecnologías, aprender a usarlas y compartir mi conocimiento. Si no estoy tomando
    café frente a la computadora, me podrás encontrar paseando a mis perros en el parque.
  </p>

  <p>
    Esta es mi casa en la triple doble u. Esta casa está viva, por lo que podrás encontrar contenido siempre que visites.
  </p>

  <p>
    Te recomiendo agregarla a tus favoritos, darte una vuelta al <a href="/blog">blog</a> y a mis <a href="/projects">proyectos</a>.
    También te puedes suscribir vía <a href="/feed.xml">RSS</a>.
  </p>

  <div style="clear: both;"></div>

  <h2>
    Últimas entradas del blog
  </h2>

  {% include recent_posts.html limit=5 %}

  <h2>
    Proyectos y experimentos
  </h2>

  {% include projects.html limit=5 %}

  <p>
    Puedes ver el resto de <a href="/projects/">proyectos aquí</a>.
  </p>

  <h2>
    Últimas entradas en TV
  </h2>

  <div class="video-list">
    {% assign videos = site.videos | reverse %}
    {% for video in videos limit: 3 %}
      <div class="video-entry">
        <a href="{{ video.url }}">
          <img src="{{ video.thumbnail }}" alt="{{ video.title }}" loading="lazy" />
          <h3>{{ video.title }}</h3>
          <p>{{ video.author }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  <p>
    Puedes ver el resto de <a href="/tv/">videos aquí</a>.
  </p>
</div>

{% include hello.html %}
