---
title: Casa
layout: default
---
<div class="home h-card">

  <h1 id="hello">Hola 👋</h1>

  <div class="avatar">
    <img src="/assets/images/avatar.jpg" alt="Una representación de Alejandro dibujada por una IA" class="u-photo u-logo">
  </div>

  <p>
    Soy <a href="https://kinduff.com" class="p-name u-url p-given-name" rel="me">Alejandro AR</a> (también <mark class="p-nickname">kinduff</mark>).
  </p>

  <p>
    Esta es mi casa en la triple doble u. Esta casa está viva, por lo que podrás encontrar contenido siempre que visites.
  </p>

  <p>
    Te recomiendo agregarla a tus favoritos, darte una vuelta al <a href="/blog">blog</a> y a mis <a href="/projects">proyectos</a>.
    También te puedes suscribir vía <a href="/feed.xml">RSS</a>.
  </p>

  <div style="clear: both;"></div>

  <h2>
    Últimas entradas del blog
  </h2>

  {% include recent_posts.html limit=5 %}

  <h2>
    Proyectos y experimentos
  </h2>

  {% include projects.html limit=5 %}

  <p>
    Puedes ver el resto de <a href="/projects/">proyectos aquí</a>.
  </p>
</div>

{% include hello.html %}
