---
layout: default
title: Links
description: >-
Every time I find an interesting link, I save it to a special list and share it here.
---

<h1>
  Links
  <a href="/links.xml" target="blank" title="RSS feed">
    {% include rss_icon.html %}
  </a>
</h1>

<p>
  Every time I find an interesting link, I save it to a special list and share it here.
</p>

{% assign links_grouped = site.links | group_by: 'category' %}
{% for group in links_grouped %}
<h3>{{ group.name | capitalize }}</h3>
{% assign links = group.items | reverse %}
{% for link in links %}
{% assign description = link.description %}
<div>
  <p>
    <b>
      <a href="{{ link.link }}">
        <img
          src="https://icons.duckduckgo.com/ip3/{{ link.link | remove:'http://' | remove:'https://' | split:'/' | first }}.ico"
          alt="Favicon of {{ link.link | remove:'http://' | remove:'https://' | split:'/' | first }}" width="15px"
          loading="lazy" style="vertical-align: middle;" />
        {{ link.title }}</a></b>{% if description and description != "" %}:{% endif %}
    {{ description }}
  </p>
</div>
{% endfor %}
{% endfor %}
