---
layout: default
title: TV
description: >-
  Every time I find a video I like, I save it to a special list and share it here.
---

<h1>
  TV
  <a href="/tv_feed.xml" target="blank" title="RSS feed">
    {% include rss_icon.html %}
  </a>
</h1>

<p>
  Every time I find a video I like, I save it to a special list and share it here.
  I hope you like these videos as much as I do.
</p>

<div class="video-list">
  {% assign videos = site.videos | reverse %}
  {% for video in videos %}
    <div class="video-entry">
      <a href="{{ video.url }}">
        <img src="{{ video.thumbnail }}" alt="{{ video.title }}" loading="lazy" />
        <h3>{{ video.title }}</h3>
        <p>{{ video.author }}</p>
      </a>
    </div>
  {% endfor %}
</div>
