<h2>
  Contacto
</h2>
<p>
  Me encantaría hablar y conectar contigo; puedes encontrarme en
  <a href="https://twitter.com/kinduff" target="blank">Twitter</a>,
  <a href="https://github.com/kinduff" target="blank">Github</a>,
  <a href="https://linkedin.com/in/kinduff" target="blank">LinkedIn</a>,
  <a href="https://www.last.fm/user/kinduff" target="blank">LastFM</a>,
  <a href="https://trakt.tv/users/kinduff" target="blank">TraktTV</a>,
  <a href="https://www.goodreads.com/kinduff" target="blank">Goodreads</a
  >,
  <a href="https://keybase.io/kinduff" target="blank">Keybase</a>,
  <a href="https://steamcommunity.com/id/kinduff/" target="blank">Steam</a
  > y en Battle.net como <span class="highlight">kinduff#11756</span>.
</p>
<p>
  Si quieres mandarme un e-mail, puedes hacerlo al siguiente relay
  <a href="mailto:12lzwsy3l@relay.firefox.com"
    >12lzwsy3l@relay.firefox.com</a
  >.
</p>
