<p>
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1egZtRKi0P3BkrLogc2Iaz2pURQfJq1wK&z=2"
    width="100%"
    height="480"
    loading="lazy"
    title="Google Maps"
  ></iframe>
</p>
<p>
  En donde <mark class="green">los verdes</mark> son lugares en
  donde he vivido y <mark class="red">los rojos</mark> los que
  he visitado alguna vez. Puedes mirar mejor el mapa en
  <a
    href="https://www.google.com/maps/d/edit?mid=1egZtRKi0P3BkrLogc2Iaz2pURQfJq1wK"
    target="blank"
    title="Lugares en donde he dejado huella en Google Maps"
    >Google Maps</a
  >.
</p>
