<p>
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1egZtRKi0P3BkrLogc2Iaz2pURQfJq1wK&z=2"
    width="100%"
    height="480"
    loading="lazy"
    title="Google Maps"
  ></iframe>
</p>
<p>
  The <mark class="green">green ones</mark> are places where I have lived
  and the <mark class="red">red ones</mark> are places I have visited.
  You can better look at the map at
  <a
    href="https://www.google.com/maps/d/edit?mid=1egZtRKi0P3BkrLogc2Iaz2pURQfJq1wK"
    target="blank"
    title="Lugares en donde he dejado huella en Google Maps"
    >Google Maps</a
  >.
</p>
