<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% seo image=false %}
{% if page.is_post %}
  <meta property="og:image" content="{{ page.title | append: '|' | append: page.description | base64_encode | append: '.jpg' | prepend: 'https://dimg2.kinduff.com/' }}" />
  <meta property="og:image:height" content="1200" />
  <meta property="og:image:width" content="600" />

  <meta property="twitter:image" content="{{ page.title | append: '|' | append: page.description | base64_encode | append: '.jpg' | prepend: 'https://dimg2.kinduff.com/' }}" />
  <meta name="twitter:card" content="summary_large_image" />
{% else %}
  <meta property="og:image" content="{{ "/assets/images/avatar.jpg" | absolute_url }}" />
  <meta property="og:image:height" content="400" />
  <meta property="og:image:width" content="400" />

  <meta property="twitter:image" content="{{ "/assets/images/avatar.jpg" | absolute_url }}" />
  <meta name="twitter:card" content="summary" />
{% endif %}
<link rel="stylesheet" href="{{ '/assets/stylesheets/default.css' | bust_css_cache }}">
<link href="/feed.xml" rel="alternate" title="kinduff" type="application/atom+xml">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=DM+Sans:wght@400;700&display=swap" rel="stylesheet" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
