<header>
  <div class="nav-bar">
    <a href="/" class="site-title">
      ~/kinduff
    </a>
    <label class="nav-icon" for="nav-btn"></label>
  </div>
  <input class="nav-btn" type="checkbox" id="nav-btn" />
  <nav>
    <a href="/blog/" class="nav-link ">blog</a>
    <a href="/projects/" class="nav-link ">projects</a>
    <a href="/tv/" class="nav-link ">tv</a>
    <a href="/links/" class="nav-link ">links</a>
    <a href="/guest-book/" class="nav-link ">guestbook</a>
    <a href="/about/" class="nav-link ">about</a>
  </nav>
</header>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    var currentPage = location.pathname.split("/")[1];
    var link = document.querySelector(`nav a[href$="/${currentPage}/"]`);
    if (link) link.classList.add('active');
  });
</script>
