<div class="newsletter">
  <p class="title">Lo último de Ruby on Rails en Español</p>
  <p>Suscríbete al newsletter bimensual de EnRails y recibe lo último de Ruby on Rails en Español en tu bandeja de entrada. Incluye noticias, cambios importantes, artículos, gemas interesantes, bolsa de trabajo y mucho mas.</p>
  <form action="https://newsletter.enrails.com/add_subscriber" method="post" name="revue-form"  target="_blank">
    <input type="submit" value="Suscríbeme" name="member[subscribe]">
    <div class="input">
      <input placeholder="Tu correo electrónico" type="email" name="member[email]" required="true">
    </div>
    <p class="notice">
      Al registrarte declaras aceptar los <a target="_blank" rel="noopener noreferrer" href="https://www.getrevue.co/terms">términos y condiciones de uso</a> y la <a target="_blank" rel="noopener noreferrer" href="https://www.getrevue.co/privacy">política de privacidad</a> de Revue.
    </p>
  </form>
</div>
