<p>
  Tengo un historial de
  <mark>liderazgo técnico sólido</mark>, de soluciones
  originales y creativas para diseños e implementaciones de software
  complejos. Soy coherente para poder preservar la
  <mark>visión global</mark> de un proyecto junto con la
  atención necesaria para garantizar resultados exitosos. He sido parte
  del <mark>equipo fundador</mark> de múltiples
  compañías.
</p>
<p>
  He tenido la fortuna de poder colaborar con las siguientes empresas a lo
  largo de mi carrera.
</p>
<ul class="logos">
  {% for image in site.static_files %}
    {% if image.path contains 'images/logos' %}
      <li>
        <img
          src="{{ site.baseurl }}{{ image.path }}"
          alt="{{ image.name | remove: image.extname }}"
          width="{{ image | image_size: 'w' | times: 0.7 }}"
          height="{{ image | image_size: 'h' | times: 0.7 }}"
          loading="lazy"
        />
      </li>
    {% endif %}
  {% endfor %}
</ul>
<p>
  Si quieres ver mas a detalle en dónde he trabajado y cuál es mi
  experiencia, puedes <a href="https://cv.kinduff.com" target="blank">descargar mi curriculum vitae</a>.
</p>
