@charset "utf-8";

@import 'variables';

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  &:before {
    box-sizing: inherit;
  }
  &:after {
    box-sizing: inherit;
  }
}
body {
  background-color: var(--bg-color);
  font-family: "Cousine", sans-serif;
  color: var(--font-color);
  line-height: 1.8em;
  font-size: 16px;
  margin: 0;
}

.wrap {
  padding: 1rem;
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "DM Sans", sans-serif;
  color: var(--font-color);
  line-height: 1.25;
  position: relative;
  &::after {
    position: absolute;
    height: 10px;
    z-index: -1;
    content: "\00A0";
    width: 20px;
    top: 6px;
    left: -10px;
    display: block;
  }
  a {
    background-color: transparent;
  }
}
h1::after {
  background-color: var(--blue);
  height: 18px;
  top: 12px;
}
h2::after {
  background-color: var(--purple);
  height: 12px;
  top: 8px;
}
h3::after {
  background-color: var(--yellow);
}
h4::after {
  background-color: var(--green);
  top: 4px;
}
mark {
  color: var(--font-color);
  background-color: var(--mark-bg);
  &.red {
    background-color: var(--red);
  }
  &.green {
    background-color: var(--green);
  }
}
a {
  background-color: var(--link-bg);
  color: var(--font-color);
  text-decoration: underline var(--link-border);
  cursor: pointer;
}
img {
  max-width: 100%;
  &.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
  }
}
video {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
nav {
  font-size: 1.1rem;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  margin: 0 0 -1rem;
  padding: 1rem 0 1rem;

  &::-webkit-scrollbar {
    display: none;
  }
  a {
    background-color: transparent;
    text-decoration: none;
    &.site-title {
      color: var(--site-title-color);
    }
    &.active {
      font-weight: 700;
    }
  }
}
hr {
  border: none;
  border-top: 1px solid var(--gray);
  height: 0;
  overflow: visible;
  margin: 20px 0;
}
blockquote {
  margin: 0;
  padding: 1rem;
  border: 1px dotted var(--font-color);
  p {
    margin: 0;
  }
}
p {
  > img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    + em {
      display: block;
      text-align: center;
      font-size: 0.9rem;
    }
  }
}
label {
  display: block;
}
input[type='text'] {
  width: 100%;
}
textarea {
  width: 100%;
  resize: vertical;
  min-height: 100px;
}
input[type='text'], textarea {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Cousine", sans-serif;
  line-height: normal;
  border: 1px solid var(--gray);
  padding: 10px;
  font-size: 0.9rem;
}

