@charset "utf-8";

html {
  box-sizing: border-box;
  color: var(--font-color);
  background-color: var(--bg-color);
  min-height: 100%;
}

* {
  box-sizing: inherit;

  &:before {
    box-sizing: inherit;
  }

  &:after {
    box-sizing: inherit;
  }
}

body {
  font-family: "Inter", sans-serif;
  color: var(--font-color);
  background-color: var(--bg-color);
  line-height: 1.8em;
  font-size: 17px;
  margin: 0;
  min-height: 100%;
}

.wrap {
  padding: 1rem;
  max-width: 100%;
  width: 700px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  color: var(--header-color);
  line-height: 1.25;
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    height: 10px;
    content: "\00A0";
    width: 20px;
    top: 6px;
    left: -10px;
    display: block;
    z-index: -1;
  }

  a {
    background-color: transparent;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.00em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

h1::after {
  background-color: var(--header-h1-bg-color);
  height: 18px;
  top: 12px;
}

h2::after {
  background-color: var(--header-h2-bg-color);
  height: 12px;
  top: 8px;
}

h3::after {
  background-color: var(--header-h3-bg-color);
}

h4::after {
  background-color: var(--header-h4-bg-color);
  top: 4px;
}

mark {
  background-color: var(--mark-bg-color);
  color: var(--font-color);

  &.red {
    background-color: #fbcdcd;
  }

  &.green {
    background-color: #E0FFC0;
  }
}

b {
  font-weight: 600;
}

a {
  background-color: var(--link-bg-color);
  color: var(--link-color);
  text-decoration: underline var(--link-underline-color);
  cursor: pointer;

  &.footnote {
    background-color: var(--link-footnote-bg-color);
    text-decoration: none;
  }

  &.no-s {
    background-color: transparent;
    text-decoration: none;
  }
}

img {
  max-width: 100%;

  &.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
  }
}

video {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

header {
  font-size: 1rem;
  margin: 0 0 -1rem;
  padding: 0.5rem 0 2rem;

  @media (min-width: 38em) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 2rem;
  }

  nav {
    overflow: hidden;
    max-height: 0;

    @media (min-width: 38em) {
      max-height: 100%;
    }
  }

  .nav {
    &-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-btn {
      display: none;

      &:checked~nav {
        max-height: 100%;
      }
    }

    &-icon {
      cursor: pointer;
      font-size: 1.2rem;

      &:after {
        content: "🍔";
      }

      @media (min-width: 38em) {
        display: none;
      }
    }
  }

  a {
    background-color: transparent;
    text-decoration: none;

    &.site-title {
      color: var(--site-title-color);
      font-weight: 600;
    }

    &.active {
      font-weight: 600;
    }

    &.nav-link {
      display: block;
      text-align: right;
      border-bottom: 1px solid var(--gray-color);
      padding: 1rem 0;

      @media (min-width: 38em) {
        display: inline-block;
        padding: 0;
        text-align: inherit;
        border-bottom: none;

        &:after {
          content: ' ·';
        }

        &:last-child::after {
          content: '';
        }
      }
    }
  }
}

hr {
  border: none;
  border-top: 1px solid var(--gray-color);
  height: 0;
  overflow: visible;
  margin: 20px 0;
}

blockquote {
  margin: 0;
  padding: 1rem;
  border: 1px dotted var(--gray-color);

  p {
    margin: 0;
  }
}

p {
  >img {
    display: block;
    max-width: 100%;
    margin: 0 auto;

    +em {
      display: block;
      text-align: center;
      font-size: 0.9rem;
    }
  }
}

label {
  display: block;
}

input[type='text'],
input[type='email'] {
  width: 100%;
}

textarea {
  width: 100%;
  resize: vertical;
  min-height: 100px;
}

input,
textarea {
  font-family: "Cousine", sans-serif;
  line-height: normal;
  border: 1px solid var(--gray-color);
  padding: 10px;
  font-size: 0.9rem;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid var(--gray-color);
  text-align: left;
  padding: 8px;

  img.table-image {
    min-width: 120px;
    max-width: 120px;
    margin: 0 auto;
    display: block;
  }
}
