label {
  display: block;
}
input[type='text'] {
  width: 100%;
}
textarea {
  width: 100%;
  resize: vertical;
  min-height: 100px;
}
input[type='text'], textarea {
  font-family: "Cousine", sans-serif;
  line-height: normal;
  border: 1px solid #cacaca;
  padding: 10px;
  font-size: 0.9rem;
}
