:root {
  --site-title-color: #B72D2D;
  --font-color: #0e0e0b;
  --bg-color: #FFFCF0;
  --header-color: #0e0e0b;
  --header-h1-bg-color: #AFD2E9;
  --header-h2-bg-color: #C09FE4;
  --header-h3-bg-color: #F1C40F;
  --header-h4-bg-color: #D4E6B5;
  --mark-bg-color: #f9e8b6;
  --link-footnote-bg-color: #FFB0B0;
  --link-color: var(--font-color);
  --link-bg-color: #E3EDEE;
  --link-underline-color: #95B8B9;
  --gray-color: #DDDDDD;
  --dark-gray-color: #999999;
}
