:root {
  --site-title-color: #B72D2D;
  --font-color: #0e0e0b;
  --bg-color: #faf9f5;
  --header-color: #0e0e0b;
  --header-h1-bg-color: #AFD2E9;
  --header-h2-bg-color: #C09FE4;
  --header-h3-bg-color: #F1C40F;
  --header-h4-bg-color: #D4E6B5;
  --mark-bg-color: #f9e8b6;
  --link-footnote-bg-color: #FFB0B0;
  --link-color: var(--font-color);
  --link-bg-color: #E3EDEE;
  --link-underline-color: #95B8B9;
  --gray-color: #DDDDDD;
  --dark-gray-color: #999999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --site-title-color: #F48C8C;
    --font-color: #f4ecdf;
    --bg-color: #0e0e0b;
    --header-color: #f4ecdf;
    --header-h1-bg-color: #41628d;
    --header-h2-bg-color: #553871;
    --header-h3-bg-color: #896200;
    --header-h4-bg-color: #58713e;
    --mark-bg-color: #3f3e28;
    --link-footnote-bg-color: #FF7373;
    --link-bg-color: #142c2c;
    --link-underline-color: #5E7B7B;
    --gray-color: #686868;
  }
}
