---
---

@import 'base';
@import 'highlight';

.home {
  h2 {
    font-size: 1.17rem;
    margin: 2.5rem 0 2.1rem;
    &::after {
      height: 10px;
      top: 6px;
    }
  }
}
ul.logos {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    height: 100px;
    flex: 1 0 80px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    img {
      max-width: 80px;
    }
  }
}
.github-contributions {
  width: 100%;
}
.blog-entry {
  h3 {
    margin-bottom: 0;
    + p {
      margin-bottom: 2rem;
    }
  }
}
.post-metadata {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0;
}
.post-title {
  margin-bottom: 0;
}