<!doctype html>
<html lang="es">
  <head>
    {% include meta.html %}
    <link rel="stylesheet" href="/assets/stylesheets/default.css">
    {% for javascript in page.custom-javascript-list %}
      <script src="{{ javascript }}"></script>
    {% endfor %}

    {% for stylesheet in page.custom-stylesheet-list %}
      <link href="{{ stylesheet }}" rel="stylesheet">
    {% endfor %}
  </head>
  <body>
    <div class="wrap">
      {% include navigation.html %}

      {% if page.is_post %}
        {% include post_header.html %}
      {% endif %}

      {{ content }}

      {% if page.is_post %}
        {% include comments.html %}
      {% endif %}
    </div>
  </body>
</html>
