<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" href="/assets/fonts/merriweather-v30-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/inter-v12-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/inter-v12-latin-600.woff2" as="font" type="font/woff2" crossorigin>
    {% seo image=false %}
    {% if page.is_post %}
    <meta property="og:image"
      content="https://sc.kinduff.com/{{site.url | append: page.url | append: 'social/' | uri_encode }}/" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:width" content="630" />
    <meta property="twitter:image"
      content="https://sc.kinduff.com/{{site.url | append: page.url | append: 'social/' | uri_encode }}/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="{{ page.author.name }}" />
    {% elsif page.og_image.size > 0 %}
    <meta property="og:image" content="{{ page.og_image | absolute_url }}" />
    <meta property="og:image:height" content="{{ page.og_image | image_size: 'w' }}" />
    <meta property="og:image:width" content="{{ page.og_image | image_size: 'h' }}" />
    <meta property="twitter:image" content="{{ page.og_image | absolute_url }}" />
    <meta name="twitter:card" content="summary_large_image" />
    {% else %}
    <meta property="og:image" content="{{ "/assets/images/avatar.jpg" | absolute_url }}" />
    <meta property="og:image:height" content="400" />
    <meta property="og:image:width" content="400" />
    <meta property="twitter:image" content="{{ "/assets/images/avatar.jpg" | absolute_url }}" />
    <meta name="twitter:card" content="summary" />
    {% endif %}
    <link href="https://github.com/kinduff" rel="me" />
    <link href="https://social.lasagna.pizza/@kinduff" rel="me" />
    <link rel="webmention" href="https://webmention.io/kinduff.com/webmention" />
    <link rel="pingback" href="https://webmention.io/kinduff.com/xmlrpc" />
    <link rel="stylesheet" href="{{ '/assets/stylesheets/default.css' | bust_css_cache }}" />
    <link href="/feed.xml" rel="alternate" title="kinduff" type="application/atom+xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    {% if page.external %}
    <meta http-equiv="refresh" content="0;url={{ page.external_url }}" />
    {% endif %}
    <script async src="https://cdn.splitbee.io/sb.js"></script>
    <script defer src="https://good.lasagna.pizza/script.js" data-website-id="4a60db45-6890-4a7a-9b76-d5d08198125a"></script>
  </head>

  <body>
    <div class="wrap">
      <header>
        <div class="nav-bar">
          <a href="/" class="site-title">
            ~/kinduff
          </a>
          <label class="nav-icon" for="nav-btn"></label>
        </div>
        <input class="nav-btn" type="checkbox" id="nav-btn" />
        <nav>
          <a href="/blog/" class="nav-link ">blog</a>
          <a href="/projects/" class="nav-link ">projects</a>
          <a href="/tv/" class="nav-link ">tv</a>
          <a href="/links/" class="nav-link ">links</a>
          <a href="/guest-book/" class="nav-link ">guestbook</a>
          <a href="/about/" class="nav-link ">about</a>
        </nav>
      </header>

      {{ content }}

      <hr />

      <div class="footer">
        <p>
          © 2008-2025 — Alejandro AR (kinduff)
          <br />
          {{ page.last_modified_at | date_to_xmlschema }} —
          <a href="https://github.com/kinduff/kinduff" target="_blank">
            {% project_version commit short %}
          </a>
        </p>
      </div>
    </div>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        var currentPage = location.pathname.split("/")[1];
        var link = document.querySelector(`nav a[href$="/${currentPage}/"]`);
        if (link) link.classList.add('active');
      });
    </script>
  </body>

</html>
