---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  {% include post_header.html %}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% unless page.hide_coffee %}
  <blockquote>
    <b>
      ☕ Did you find this post helpful? Consider <a href="https://www.buymeacoffee.com/kinduff">supporting me with a
        coffee</a>.
    </b>
  </blockquote>
  {% endunless %}

  {% include webmentions.html %}

  <a class="u-url" href="{{ page.url | absolute_url }}" hidden></a>
</article>
